<div class="container">
    <div class="col-md-9">
        <h2>Hello there, fello magi!</h2>
        <p>
            Welcome to <span class="site-name">Mnemonica!</span>
        </p>
        <p>
            This project is born out of three of my greatest passions: web development, mentalism, and card magic. Though admittedly
            I am not as active in the magical arts anymore, I am quite active in writing applications for the web. On my continuing
            quest to expand my expertise on this field, I thought it would be cool to writing something that could be useful to the
            magic community. This is the fruit of my efforts.
        </p>
        <p>
            Thanks for dropping by! I hope you found this little web app useful for your mem-deck learning.
        </p>
        <hr/>
        <h2>The future...</h2>
        <p>
            This app is not perfect, nor complete -- and I plan to improve this over time. Your feedback would be very handy in this regard.
        </p>
        <p>
            So, if you have any ideas on how to improve <span class="site-name">Mnemonica</span>,
            hit me up at <a mail-to="YmV6YWxlbGhlcm1vc29AZ21haWwuY29t">{{ mailto }}</a>.
        </p>
    </div>
    <div class="col-md-3">
        <img src="http://graph.facebook.com/bezalelhermoso/picture?type=large" alt="" class="thumbnail" style="width: 100%;"/>
        <ul class="list-unstyled">
            <li><i class="fa fa-facebook-square fa-lg"></i> <a href="https://facebook.com/bezalelhermoso">Bezalel Hermoso</a></li>
            <li><i class="fa fa-twitter-square fa-lg"></i> <a href="https://twitter.com/BezHermoso">@BezHermoso</a></li>
            <li><i class="fa fa-github-alt fa-lg"></i> <a href="https://github.com/bezhermoso">bezhermoso</a></li>
        </ul>
    </div>
</div>