<ActionBar title="Angular 2 Seed Advanced"> 
</ActionBar>
<StackLayout class="container-content">
  <Label [text]="'LOVE_TECH'" textWrap="true" class="love-tech"></Label>
  <Label [text]="'SUCCESS_MSG'" textWrap="true"></Label>
  <Label [text]="'ABOUT_REWARD" textWrap="true"></Label>

  <TextField [(ngModel)]="newName" [hint]="'INPUT_HINT'" autocorrect="false" autocapitalizationType="none"></TextField>
  <Button [text]="'ADD_BTN_TEXT'" (tap)="addName()"></Button>
  
  <ListView [items]="nameListService.names | async" row="1" colSpan="2" height="300">
    <template let-name="item" let-odd="odd" let-even="even">
      <StackLayout [class.odd]="odd" [class.even]="even" class="list-item">
        <Label [text]="name"></Label>
      </StackLayout>
    </template>
  </ListView>
</StackLayout>
